---
layout: default.njk
---

{# Set lang-scoped translations #}
{% set t = i18n[lang] %}

{% include "sections/hero.njk" %}
{% include "sections/about.njk" %}
{% include "sections/speakers.njk" %}
{% include "sections/program.njk" %}
{% include "sections/tickets.njk" %}
{% include "sections/partners.njk" %}
{% include "sections/coc.njk" %}
{% include "sections/contact.njk" %}
