<section id="partners" class="section partner-page">
    <h2 class="partner-heading">{% include i18n.html ns='partners' k='heading' fallback='Våre partnere:' %}</h2>
    <ul class="partnerlogos">
        <li>
            <a target="_blank" title="Bekk" href="https://bekk.no">
                <img alt="Bekk" src="/assets/images/partners/bekk.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Bouvet" href="https://bouvet.no">
                <img alt="Bouvet" src="/assets/images/partners/bouvet.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Capgemini" href="https://capgemini.no">
                <img alt="Capgemini" src="/assets/images/partners/capgemini.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="ITsjefen" href="https://itsjefen.no">
                <img alt="ITsjefen" src="/assets/images/partners/itsjefen.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Kantega" href="https://www.kantega.no/">
                <img alt="Kantega" src="/assets/images/partners/kantega.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Systek" href="https://systek.no">
                <img alt="Systek" src="/assets/images/partners/systek.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Tieto" href="https://www.tieto.com/">
                <img alt="Tieto" src="/assets/images/partners/tieto.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Variant" href="https://variant.no">
                <img alt="Variant" src="/assets/images/partners/variant.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Webstep" href="https://webstep.no">
                <img alt="Webstep" src="/assets/images/partners/webstep.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Arbeids- og velferdsetaten" href="https://www.nav.no/">
                <img alt="NAV" src="/assets/images/partners/nav.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Itema" href="https://itema.no">
                <img alt="Itema" src="/assets/images/partners/itema.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="EL og IT forbundet" href="https://elogit.no">
                <img alt="EL og IT forbundet" src="/assets/images/partners/ELogIT.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Computas" href="https://computas.no">
                <img alt="Computas" src="/assets/images/partners/Computas_logo_liggende_hvit.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Norconsult Digital" href="https://norconsultdigital.no/">
                <img alt="Norconsult Digital" src="/assets/images/partners/norconsult-digital-svg-white.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="AKVA Group" href="https://www.akvagroup.com">
                <img alt="AKVA Group" src="/assets/images/partners/akvagroup.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Miles" href="https://www.miles.no/">
                <img alt="Miles" src="/assets/images/partners/miles.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Accelerate" href="https://accelerate-iver.com/no/">
                <img alt="Accelerate" src="/assets/images/partners/Accelerate_white.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="javaBin" href="https://java.no/">
                <img alt="javaBin" src="/assets/images/partners/javabin.png" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Statens vegvesen" href="https://www.vegvesen.no/">
                <img alt="Statens vegvesen" src="/assets/images/partners/statens-vegvesen.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Crayon Consulting" href="https://crayonconsulting.no/">
                <img alt="Crayon Consulting" src="/assets/images/partners/crayon-consulting.svg" width="240">
            </a>
        </li>
        <li>
            <a target="_blank" title="Storebrand Livsforsikring" href="https://www.storebrand.no/">
                <img alt="Storebrand Livsforsikring" src="/assets/images/partners/storebrand.svg" width="240">
            </a>
        </li>
    </ul>

    <p><a class="partner-cta" href="{% if page.lang == 'en' %}/en{% endif %}/partner/">{% include i18n.html ns='partners' k='cta' fallback='Bli partner?' %}</a></p>

</section>

<!-- Shuffle partner logos -->
<script>
    function shuffle(parent) {
        if (parent != null) {
            for (var i = parent.children.length; i >= 0; i--) {
                parent.appendChild(parent.children[Math.random() * i | 0]);
            }
        }
    }
    var partnerlogos = document.querySelector('.partnerlogos');
    shuffle(partnerlogos);
</script>
